.material-icons {
    font-size: xxx-large;
    vertical-align: middle;
    margin-right: 0.5rem;
    margin-top: -0.5rem;
}

.profile-one.card-title {
    color: #d83a96;
}

.card-body {
    text-align: -webkit-center;
}


