<div class="view">
    <h3 class="pstyle title">Export Preview</h3>
</div>

<h3 *ngIf="graphs.includes('Bar Graphs')" class="pstyle subtitle">Bar Graphs</h3><br>
<iframe id="Bar Graphs" src="about:blank"></iframe>

<h3 *ngIf="graphs.includes('Pie Charts')" class="pstyle subtitle">Pie Charts</h3><br>
<iframe id="Pie Charts" src="about:blank"></iframe>

<h3 *ngIf="graphs.includes('Box Plots')" class="pstyle subtitle">Box Plots</h3><br>
<iframe id="Box Plots" src="about:blank"></iframe>

<h3 *ngIf="graphs.includes('Sentiment Analysis')" class="pstyle subtitle">Sentiment Analysis</h3><br>
<iframe id="Sentiment Analysis" src="about:blank"></iframe>

<h3 *ngIf="graphs.includes('Thematic Analysis')" class="pstyle subtitle">Thematic Analysis</h3><br>
<iframe id="Thematic Analysis" src="about:blank"></iframe>

<h3 *ngIf="graphs.includes('Bivariate Relationships')" class="pstyle subtitle">Bivariate Relationships</h3><br>
<iframe id="Bivariate Relationships" src="about:blank"></iframe>

<h3 *ngIf="graphs.includes('Clustered Bar Graphs')" class="pstyle subtitle">Clustered Bar Graphs</h3><br>
<iframe id="Clustered Bar Graphs" src="about:blank"></iframe>

<h3 *ngIf="graphs.includes('Stacked Bar Graphs')" class="pstyle subtitle">Stacked Bar Graphs</h3><br>
<iframe id="Stacked Bar Graphs" src="about:blank"></iframe>

<h3 *ngIf="graphs.includes('Scatter Plots')" class="pstyle subtitle">Scatter Plots</h3><br>
<iframe id="Scatter Plots" src="about:blank"></iframe>

<h3 *ngIf="graphs.includes('Sunburst Chart')" class="pstyle subtitle">Sunburst Chart</h3><br>
<iframe id="Sunburst Chart" src="about:blank"></iframe>

<h3 *ngIf="graphs.includes('Treemap Chart')" class="pstyle subtitle">Treemap Chart</h3><br>
<iframe id="Treemap Chart" src="about:blank"></iframe>
