.body {
    font-family: Bahnschrift;
}

.pstyle.title {
    line-height: 38px;
    font-size: 38px;
    text-align: center;
}

.pstyle.subtitle {
    font-weight: 200;
    line-height: 38px;
    text-align: left;
    margin-top: 4rem;
    font-size: 30px;
    margin-left: 2rem;
}

.pstyle {
    font-weight: 250;
    font-size: 25px;
    margin-top: 2rem;
    line-height: 0.4rem;
}

iframe {
    border: none;
    height: 0.1vh;
    width: 1vw;
    padding-left: 3rem;
}

iframe::-webkit-scrollbar {
    display: none;
}

