.logo {
  margin-top: 0.5rem;
  margin-left: 1rem;
  height: 5rem;
}

.pstyle {
  font-family: Bahnschrift;
  font-size: 16px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 1px;
  margin-right: 1rem;
}