<div style="position: sticky; z-index: 2500; top: 0;">
  <providentia-header></providentia-header>
  <!-- <alerts-container></alerts-container> -->
</div>
<div class="container">
  <div class="center form-inline ">
      <homepage-cards [title]="title1" [subtitle]="subtitle1" [text]="text1"></homepage-cards>
      <homepage-cards [title]="title2" [subtitle]="subtitle2" [text]="text2"></homepage-cards>
      <homepage-cards [title]="title3" [subtitle]="subtitle3" [text]="text3"></homepage-cards>
  </div>
</div>