<div class="container center">
  <div class="row">
    <div class="col-4">
      <h3 class="pstyle insights">Get insights into your data in seconds!</h3>
      <br>
      <h3 class="pstyle get-started">Get Started Now!</h3>
      <br>
      <div style="text-align: center;">
        <div *ngIf="fileToUpload == null">
          <button type="button" class="btn btn-primary" (click)="uploader.click()">
            <span class="material-icons cloud">
              cloud_upload
            </span>
            Upload
          </button>
        </div>
        <h5 class="pstyle upload form-inline">
          Upload a
          <div class="pstyle blue">&nbsp;.csv&nbsp;</div>
          of your survey responses:
        </h5>
        <div class="uploading" *ngIf="fileToUpload">
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
              aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
          </div>
          <p class="pstyle file-uploaded">{{fileToUpload.name}}</p>
        </div>
        <div *ngIf="status == 'success'">
          <app-details-page></app-details-page>
        </div>
        <div *ngIf="status == 'error'">
          <p class="pstyle error">
            <span class="material-icons warning">warning_amber</span>
            {{errorMessage}}
          </p>
        </div>
      </div>
      <h5 class="pstyle example form-inline">
        Or use our
        <span class="pstyle blue form-inline">&nbsp;example file&nbsp;</span>
        to get a preview of what our analytic insights look like!
      </h5>
    </div>
    <div class="col-8">
      <div class="row">
        <div class="col-5">
          <div class="img-container">
            <img class="pitchbook" src="assets/pitchbook-two.png">
            <div class="centered">Centered</div>
          </div>
          <img class="line" src="assets/line-graphic.png">
          <img class="pitchbook" src="assets/pitchbook-two.png">
        </div>
        <div class="col-7">
          <div class="form-inline">
            <img class="piechart" src="assets/piechart-graphic.png">
            <img class="bargraph" src="assets/bargraph-graphic.png">
          </div>
          <img class="pitchbook" src="assets/pitchbook-one.png">
          <div class="form-inline">
            <img class="calendar" src="assets/calendar-graphic.png">
            <img class="man" src="assets/man-graphic.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<input hidden type="file" #uploader (change)="uploadFile($event)" />