.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding-top: 6rem;
}

.pstyle.get-started {
    font-family: Bahnschrift;
    font-weight: 400;
    line-height: 38px;
    text-align: center;
    margin-top: 4rem;
    font-size: 48px;
}

.pstyle.upload {
    font-family: Bahnschrift;
    font-weight: 400;
    line-height: 38px;
    font-size: 21px;
    margin-top: 1rem;
    place-content: center;
}

.pstyle.example {
    font-family: Bahnschrift;
    font-weight: 250;
    line-height: 38px;
    font-size: 19px;
    margin-top: 1rem;
    place-content: center;
}

.pstyle.file-uploaded {
    font-family: Bahnschrift;
    font-weight: 250;
    line-height: 38px;
    font-size: 19px;
    margin-top: 1rem;
    text-align: center;
}

.pstyle.error {
    font-family: Bahnschrift;
    font-weight: 250;
    line-height: 38px;
    font-size: 19px;
    margin-top: 0.3rem;
    text-align: center;
    color: red;
}

.blue {
    color: #70A9E0;
    cursor: pointer;
}

.btn.btn-primary {
    background-color: #034963;
    border-color: #034963;
    width: 12rem;
    margin-left: 23rem;
}

.material-icons.cloud {
    vertical-align: text-bottom;
    margin-right: 0.2rem;
}

.material-icons.warning {
    vertical-align: text-bottom;
    margin-right: -8rem;
}

.uploading {
    text-align: -webkit-center;
}

.progress {
    width: 50% !important;
}