.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    margin-top: 2rem;
}

.pstyle.insights {
    font-family: Bahnschrift;
    font-weight: 300;
    line-height: 54px;
    text-align: center;
    margin-top: 4rem;
    font-size: 51px;
}

.pstyle.get-started {
    font-family: Bahnschrift;
    font-weight: 300;
    line-height: 50px;
    text-align: center;
    margin-top: 4rem;
    font-size: 34px;
    color: #2888ff
}

.pstyle.upload {
    font-family: Bahnschrift;
    font-weight: 300;
    line-height: 38px;
    font-size: 19px;
    margin-top: 1rem;
    place-content: center;
}

.pstyle.example {
    font-family: Bahnschrift;
    font-weight: 250;
    line-height: 23px;
    font-size: 17px;
    margin-top: 1rem;
    place-content: center;
    text-align: -webkit-center;
}

.pstyle.file-uploaded {
    font-family: Bahnschrift;
    font-weight: 250;
    line-height: 38px;
    font-size: 19px;
    margin-top: 1rem;
    text-align: center;
}

.pstyle.error {
    font-family: Bahnschrift;
    font-weight: 250;
    line-height: 38px;
    font-size: 19px;
    margin-top: 0.3rem;
    text-align: center;
    color: red;
}

.blue {
    color: #76b3ff;
    cursor: pointer;
}

.btn.btn-primary {
    background-color: #013a83;
    border-color: #013a83;
    width: 12rem;
    border-radius: 40px;
}

.material-icons.cloud {
    vertical-align: text-bottom;
    margin-right: 0.2rem;
}

.material-icons.warning {
    vertical-align: text-bottom;
    margin-right: -8rem;
}

.uploading {
    text-align: -webkit-center;
}

.progress {
    width: 50% !important;
}

.pitchbook {
    height: 16rem;
}

.img-container {
    position: relative;
    text-align: center;
    color: #d83a96;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.line {
    height: 7rem;
    padding-left: 2rem;
}
.col-5 {
    padding-left: 6rem;
}

.piechart {
    height: 7rem;
    margin-top: 2rem;
    margin-left: 2rem;
}

.bargraph {
    height: 8rem;
    margin-top:1rem;
}

.man {
    height: 13rem;
    margin-left: 8rem;
    margin-top: -3rem;
}

.calendar {
    padding-left: 3rem;
    height: 5rem;
}
