.body {
    font-family: Bahnschrift;
}

.pstyle.title {
    line-height: 38px;
    font-size: 38px;
    text-align: left;
}

.pstyle.subtitle {
    font-weight: 200;
    line-height: 38px;
    text-align: center;
    margin-top: 4rem;
    font-size: 28px;
    text-decoration: underline;
}

.pstyle {
    font-weight: 250;
    font-size: 25px;
    margin-top: 2rem;
    line-height: 0.4rem;
}

.text {
    font-family: Segoe UI;
    font-size: 20px;
}

.blue {
    color: #70A9E0;
    cursor: pointer;
}

.emphasis {
    color: #d83a96;
}

.logo {
    height: 6rem;
    margin-left: 1rem;
    margin-top: -3rem;
}

iframe {
    border: none;
    height: 90vh;
    width: 100%;
    overflow: visible;
}

.sidenav {
    height: 100%;
    width: 25rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f3f4f6;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 21px;
    color: #000000;
    display: block;
    transition: 0.3s;
}

.sidenav .hover:hover {
    color: #2a7be5;
    cursor: pointer;
}

.sidenav .active {
    color: #2a7be5;
}

.view {
    display: block;
}

.hide {
    display: none;
}

.page-content {
    margin-left: 28rem;
    height: 100vh;
    overflow: hidden;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

// Insights Overview

.overview-graphic {
    height: 20rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
}

// Export report

.export-graphic {
    height: 20rem;
    display: block;
    margin-left: auto;
    margin-right: 2rem;
    margin-top: -4rem;
}

.btn.btn-primary {
    background-color: #013a83;
    border-color: #013a83;
    width: 12rem;
    border-radius: 40px;
    margin-top: 2rem;
}


// Wordmaps

// User Profiles
div[id='User Profiles'] {
    overflow-y: auto !important;
    height: inherit !important;
}
