<div class="sidenav">
    <img class="logo" src="assets/transparent-logo.png">
    <a>Insights Overview</a>
    <a>Export Report</a>
</div>
<main class="page-content">
    <div class="insights-overview">
        <h3 class="pstyle title">Insights Overview</h3>
        <img class="graphic" src="assets/insights-overview-graphic.png">
    </div>
</main>


<!-- <div id="bargraphs-box" class="col">
    <h6 class="pstyle headers">Bargraphs:
        <span class="material-icons">open_in_new</span> 
    </h6>
    <iframe id="bargraphs" src="about:blank"></iframe>
</div> -->